# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
logs/
*.log

.env
.npm

#src/config/main.json
src/config/commandsCache.json


## DASHBOARD 


dashboard-next/.next/
src/config/main.json
